bootstrap.memory_lock: {{elasticsearch_memory_lock}}
cluster.name: {{elasticsearch_cluster_name}}
gateway.recover_after_nodes: {{elasticsearch_recovery_hosts}}
node.max_local_storage_nodes: {{elasticsearch_local_storage_nodes}}
discovery.zen.minimum_master_nodes: {{elasticsearch_discovery_minimum_hosts}}
discovery.zen.ping.unicast.hosts: {{elasticsearch_discovery_hosts}}
http.port: {{elasticsearch_http_port}}
network.bind_host: {{elasticsearch_network_bind_host}}
network.host: {{elasticsearch_network_host}}
network.publish_host: {{elasticsearch_network_publish_host}}
node.name: {{elasticsearch_node_name}}
path.conf: {{elasticsearch_config_path}}
path.data: {{elasticsearch_data_path}}
path.logs: {{elasticsearch_logs_path}}
path.plugins: {{elasticsearch_plugins_path}}
path.scripts: {{elasticsearch_scripts_path}}
path.work: {{elasticsearch_work_path}}
transport.tcp.compress: {{elasticsearch_transport_compress}}
transport.tcp.port: {{elasticsearch_transport_port}}
